<select size="1" id="ember-chosen-{{elementId}}" onchange={{action 'selectValue'}} multiple={{multiple}} disabled={{disabled}}>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#unless skipEmptyItem}}
      <option></option>
    {{/unless}}

    {{#if invalidAttrs}}
      <option disabled>Invalid Attributes</option>
    {{else}}
      {{#if validGroupPath}}
        {{#each options as |group|}}
          <optgroup label={{group.label}}>
            {{#each group.options as |option|}}
              <option value={{option.value}} selected="{{if option.selected 'selected'}}">{{option.label}}</option>
            {{else}}
              <option disabled>No Options Available</option>
            {{/each}}
          </optgroup>
        {{else}}
          <option disabled>No Options Available</option>
        {{/each}}
      {{else}}
        {{#each options as |option|}}
          <option value={{option.value}} selected="{{if option.selected 'selected'}}">{{option.label}}</option>
        {{else}}
          <option disabled>No Options Available</option>
        {{/each}}
      {{/if}}
    {{/if}}
  {{/if}}
</select>
