<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
  <h2 id="title">Ember-Chosen</h2>
  
  
  <div class="panel panel-default">
    <div class="panel-body">
      <p><code>\{{ember-chosen}}</code> with options array of objects.</p>
      
      <h5 class="text-uppercase text-muted">Example</h5>
      
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <div class="form-group">
            {{ember-chosen
              placeholder="Select Something..."
              allowSingleDeselect=true
              optionValuePath="value"
              optionLabelPath="label"
              content=options
              value=value
              action="save"
            }}
          </div>
        </div>
        
        <div class="col-md-6 col-sm-4 col-xs-12">
          <pre>value: {{value}}</pre>
        </div>
      </div>
      
      <h5 class="text-uppercase text-muted">Code</h5>
      
<pre>\{{ember-chosen
  placeholder="Select Something..."
  allowSingleDeselect=true
  optionValuePath="value"
  optionLabelPath="label"
  content=options
  value=value
  action="save"
}}</pre>

    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-body">
      <p><code>\{{ember-chosen}}</code> with grouped options that rely on another select box on the page.</p>
      
      <h5 class="text-uppercase text-muted">Example</h5>

      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <div class="form-group">
            {{ember-chosen
              placeholder="Select Some Things..."
              multiple=true
              optionValuePath="value"
              optionLabelPath="label"
              optionGroupPath=grouping
              content=options
              value=valuesArray
              action="save"
            }}
          </div>
        </div>
        
        <div class="col-md-6 col-sm-4 col-xs-12">
          <pre>valuesArray: {{valuesArray}}</pre>
        </div>
      </div>
      
      <h5 class="text-uppercase text-muted">Code</h5>
      
<pre>\{{ember-chosen
  placeholder="Select Some Things..."
  multiple=true
  optionValuePath="value"
  optionLabelPath="label"
  optionGroupPath=grouping
  content=options
  value=valuesArray
  action="save"
}}</pre>

    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-body">
      <p><code>\{{ember-chosen}}</code> with block content that effects another select boxes grouping.</p>
      
      <h5 class="text-uppercase text-muted">Example</h5>

      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <div class="form-group">
           {{#ember-chosen
              placeholder="Select Some Things..."
              value=grouping
              allowSingleDeselect=true
            }} 
              <option></option>
              <option>group</option>
              <option>alt_group</option>
            {{/ember-chosen}}
          </div>
        </div>
        
        <div class="col-md-6 col-sm-4 col-xs-12">
          <pre>grouping: {{grouping}}</pre>
        </div>
      </div>
      
      <h5 class="text-uppercase text-muted">Code</h5>
      
<pre>\{{#ember-chosen
  placeholder="Select Some Things..."
  value=grouping
  allowSingleDeselect=true
}}
  &lt;option&gt;&lt;/option&gt;
  &lt;option&gt;group&lt;/option&gt;
  &lt;option&gt;alt_group&lt;/option&gt;
\{{/ember-chosen}}</pre>

    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-body">
      <p><code>\{{ember-chosen}}</code> with controller based content simple array.</p>
      
      <h5 class="text-uppercase text-muted">Example</h5>

      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
          <div class="form-group">
            {{ember-chosen
              placeholder="Select Something..."
              allowSingleDeselect=true
              content=simpleOptions
              value=simpleValue
              action="save"
            }} 
          </div>
        </div>
        
        <div class="col-md-6 col-sm-4 col-xs-12">
          <pre>simpleValue: {{simpleValue}}</pre>
        </div>
      </div>
      
      <h5 class="text-uppercase text-muted">Code</h5>
      
<pre>\{{ember-chosen
  placeholder="Select Something..."
  allowSingleDeselect=true
  content=simpleOptions
  value=simpleValue
  action="save"
}}</pre>

    </div>
  </div>

</div>
