<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

{{ember-chosen
  id="test-chosen"
  placeholder="Select Something..."
  allowSingleDeselect=true
  optionValuePath="value"
  optionLabelPath="label"
  content=options
  value=value
  action="save"
}}

<div>value: {{value}}</div>

{{ember-chosen
  id="test-chosen-2"
  placeholder="Select Some Things..."
  multiple=true
  optionValuePath="value"
  optionLabelPath="label"
  optionGroupPath="group"
  content=options
  value=value2
  action="save"
}}

<div>value: {{value2}}</div>

{{#ember-chosen
  id="test-chosen-3"
  placeholder="Select Some Things..."
  value=value3
  allowSingleDeselect=true
  action="save"
}}
  <option></option>
  <option value="Test 1">Test 1</option>
  <option value="Test 2">Test 2</option>
{{/ember-chosen}}

<div>value: {{value3}}</div>
