<div class="panel panel-default">
  <div class="panel-body">
    <p><code>\{{ember-chosen}}</code> with options array of objects.</p>
    
    <h5 class="text-uppercase text-muted">Example</h5>
    
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          {{ember-chosen
            placeholder="Select Something..."
            allowSingleDeselect=true
            optionValuePath="value"
            optionLabelPath="label"
            content=options
            value=value
            action="save"
          }}
        </div>
      </div>
      
      <div class="col-md-6 col-sm-4 col-xs-12">
        <pre>value: {{value}}</pre>
      </div>
    </div>
    
    <h5 class="text-uppercase text-muted">Code</h5>
    
<pre>\{{ember-chosen
  placeholder="Select Something..."
  allowSingleDeselect=true
  optionValuePath="value"
  optionLabelPath="label"
  content=options
  value=value
  action="save"
}}</pre>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <p><code>\{{ember-chosen}}</code> with grouped options that rely on another select box on the page.</p>
    
    <p>
      * <strong>Ember-Chosen</strong> validates the group before populating the <code>options</code> array. If the path doesn't exist in the first object within <code>content</code> then <strong>Ember-Chosen</strong> does not group the items.
    </p>
    
    <h5 class="text-uppercase text-muted">Example</h5>

    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          {{ember-chosen
            placeholder="Select Some Things..."
            multiple=true
            optionValuePath="value"
            optionLabelPath="label"
            optionGroupPath=grouping
            content=options
            value=valuesArray
            action="save"
          }}
        </div>
      </div>
      
      <div class="col-md-6 col-sm-4 col-xs-12">
        <pre>valuesArray: {{valuesArray}}</pre>
      </div>
    </div>
    
    <h5 class="text-uppercase text-muted">Code</h5>
    
<pre>\{{ember-chosen
  placeholder="Select Some Things..."
  multiple=true
  optionValuePath="value"
  optionLabelPath="label"
  optionGroupPath=grouping
  content=options
  value=valuesArray
  action="save"
}}</pre>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <p><code>\{{ember-chosen}}</code> with block content that effects another select boxes grouping.</p>
    
    <p>
      * Attempts to select the item that matches the passed <code>value</code>. Matches are determined by looking for the a equal <code>value</code> in each <code>option</code> and if there is not an equal <code>value</code> then <strong>Ember-Chosen</strong> looks at the HTML content of the <code>option</code>.
    </p>
    
    <h5 class="text-uppercase text-muted">Example</h5>

    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
         {{#ember-chosen
            placeholder="Select a group..."
            value=grouping
            allowSingleDeselect=true
          }} 
            <option></option>
            <option value="group">Group</option>
            <option value="alt_group">Alt Group</option>
            <option>test_group</option>
          {{/ember-chosen}}
        </div>
      </div>
      
      <div class="col-md-6 col-sm-4 col-xs-12">
        <pre>grouping: {{grouping}}</pre>
      </div>
    </div>
    
    <h5 class="text-uppercase text-muted">Code</h5>
    
<pre>\{{#ember-chosen
  placeholder="Select a group..."
  value=grouping
  allowSingleDeselect=true
  }}
  &lt;option&gt;&lt;/option&gt;
  &lt;option value="group"&gt;Group&lt;/option&gt;
  &lt;option value="alt_group"&gt;Alt Group&lt;/option&gt;
  &lt;option&gt;test_group&lt;/option&gt;
\{{/ember-chosen}}</pre>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <p><code>\{{ember-chosen}}</code> with controller based content simple array.</p>
    
    <h5 class="text-uppercase text-muted">Example</h5>

    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          {{ember-chosen
            placeholder="Select Something..."
            allowSingleDeselect=true
            content=simpleOptions
            value=simpleValue
            action="save"
          }} 
        </div>
      </div>
      
      <div class="col-md-6 col-sm-4 col-xs-12">
        <pre>simpleValue: {{simpleValue}}</pre>
      </div>
    </div>
    
    <h5 class="text-uppercase text-muted">Code</h5>
    
<pre>\{{ember-chosen
  placeholder="Select Something..."
  allowSingleDeselect=true
  content=simpleOptions
  value=simpleValue
  action="save"
}}</pre>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <p><code>\{{ember-chosen}}</code> using route's model.</p>
    
    <h5 class="text-uppercase text-muted">Example</h5>

    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          {{ember-chosen
            content=model
            optionLabelPath="first_name"
            optionValuePath="id"
            placeholder="Select a User..."
            value=users
          }} 
        </div>
      </div>
      
      <div class="col-md-6 col-sm-4 col-xs-12">
        <pre>users: {{users}}</pre>
      </div>
    </div>
    
    <h5 class="text-uppercase text-muted">Code</h5>
    
<pre>\{{ember-chosen
  content=model
  optionLabelPath="first_name"
  optionValuePath="id"
  placeholder="Select Something..."
  value=users
}}</pre>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    <p><code>\{{ember-chosen}}</code> using route's model.</p>
    
    <h5 class="text-uppercase text-muted">Example</h5>

    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="form-group">
          {{ember-chosen
            content=model
            optionLabelPath="first_name"
            optionValuePath="id"
            placeholder="Select Some Users..."
            multiple=true
            value=usersMultiple
          }} 
        </div>
      </div>
      
      <div class="col-md-6 col-sm-4 col-xs-12">
        <pre>usersMultiple: {{usersMultiple}}</pre>
      </div>
    </div>
    
    <h5 class="text-uppercase text-muted">Code</h5>
    
<pre>\{{ember-chosen
  content=model
  optionLabelPath="first_name"
  optionValuePath="id"
  placeholder="Select Some Users..."
  multiple=true
  value=usersMultiple
}}</pre>

  </div>
</div>
